.App {
  text-align: center;
  // justify-content: center;
}

.container {

}

.Images {
  // align-items: center;
  display: flex;
  text-align: center;
  // flex-direction:row;
  justify-content: center;
  flex-wrap: nowrap | wrap | wrap-reverse;
}

.Images {
  img {
    text-align: center;
    border-radius: 50%;
    height: 400px;
    width: 400px;
  }
  input {
    border-radius: 50%;
    border: none;
    width: 300px;
    height: 300px;
    background-image: url("../assets/images/goat.jpg");
  }
}

.Images .Highlight {
  border: solid red 5px;
}
